@import "tailwindcss";
/*this file in particular is probably the main file that probably needs the import statement.*/
/*do imports at the top, EXCEPT after charset and layer declarations, if*/
/*these colors can be changed because WOW they are ugly*/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.button {
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {

  background-color: pink;
  color: white;
}

.App-header {
  background-color: #a2b0cd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h2 {
  position: sticky;
  bottom: 90%;

  border-radius: 10px;
  background-color: #61dafb;
  padding: 20px;
  width: 500px;
  height: 75px;
}

label {
  position: fixed;
  left: 75%;
  bottom: 75%;
  border-radius: 10px;
  background-color: #61dafb;
  padding: 20px;
  width: 150px;
  height: 75px;
}

textarea {
  position: fixed;
  left: 35%;
  top: 15.5%;
  border-radius: 10px;
  background-color: #61dafb;
  padding: 20px;
  width: 300px;
  height: 75px;
}

button {
  position: fixed;
  left: 75%;
  top: 25.5%;
  border: none;
  border-radius: 10px;
  width: 150px;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.App-link {
  color: #61dafb;
}
.Results{
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
